<div class="modal-header">
  <h4 class="modal-title">Ability Creator</h4>
  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.dismiss()">&times;</button>
</div>

<div class="modal-body">
  <div class="form-block">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group form-inline">
        <label for="name">Ability Name</label>
        <input
          id="name"
          name="name"
          [(ngModel)]="ability.name"
          class="form-control"
          required
        >
      </div>

      <div class="form-group form-inline">
        <label for="type">Ability Type</label>
        <select
          (change)="onTypeChange($event.target.value)"
          id="type"
        >
          <option [selected]="!ability.type" value="">---</option>
          <option [selected]="ability.type === 'natural'" value="natural">Natural Ability</option>
          <option [selected]="ability.type === 'super'" value="super">Supernatural Ability</option>
          <option [selected]="ability.type === 'item'" value="item">Item</option>
        </select>
      </div>

      <div class="form-group">
        <label for="summary">Summary</label>
        <textarea
          id="summary"
          name="summary"
          [(ngModel)]="ability.summary"
          class="form-control"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="lore">Lore</label>
        <textarea
          id="lore"
          name="lore"
          [(ngModel)]="ability.lore"
          class="form-control"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="macro">Macro</label>
        <textarea
          id="macro"
          name="macro"
          [(ngModel)]="ability.macro"
          class="form-control"
        ></textarea>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          >Submit</button>
      </div>
    </form>
  </div>

</div>
