<div class="modal-header">
  <h4 class="modal-title">Direct Stat Setter</h4>
  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.dismiss()">&times;</button>
</div>

<div class="modal-body">
  <div class="form-block">
    <form (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col text-center">
          <h4>Point Value: {{pointBuyValue}}</h4>
        </div>
      </div>

      <div class="point-block">
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group form-inline">
            <label for="strength">Strength</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="strength"
                   name="strength"
                   required [(ngModel)]="statBlock.strength">
          </div>

          <div class="form-group form-inline">
            <label for="reflex">Reflex</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="reflex"
                   name="reflex"
                   required [(ngModel)]="statBlock.reflex">
          </div>

          <div class="form-group form-inline">
            <label for="vitality">Vitality</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="vitality"
                   name="vitality"
                   required [(ngModel)]="statBlock.vitality">
          </div>

          <div class="form-group form-inline">
            <label for="speed">Speed</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="speed"
                   name="speed"
                   required [(ngModel)]="statBlock.speed">
          </div>

          <div class="form-group form-inline">
            <label for="awareness">Awareness</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="awareness"
                   name="awareness"
                   required [(ngModel)]="statBlock.awareness">
          </div>
        </div>

        <div class="col">
          <div class="form-group form-inline">
            <label for="willpower">Willpower</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="willpower"
                   name="willpower"
                   required [(ngModel)]="statBlock.willpower">
          </div>

          <div class="form-group form-inline">
            <label for="attunement">Attunement</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="attunement"
                   name="attunement"
                   required [(ngModel)]="statBlock.attunement">
          </div>

          <div class="form-group form-inline">
            <label for="imagination">Imagination</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="imagination"
                   name="imagination"
                   required [(ngModel)]="statBlock.imagination">
          </div>

          <div class="form-group form-inline">
            <label for="faith">Faith</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="faith"
                   name="faith"
                   required [(ngModel)]="statBlock.faith">
          </div>

          <div class="form-group form-inline">
            <label for="luck">Luck</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="luck"
                   name="luck"
                   required [(ngModel)]="statBlock.luck">
          </div>

          <div class="form-group form-inline">
            <label for="charisma">Charisma</label>
            <input type="text"
                   (blur)="onBlur()"
                   class="form-control"
                   id="charisma"
                   name="charisma"
                   required [(ngModel)]="statBlock.charisma">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>

    </form>

  </div>


</div>

