<div class="container">
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="card-title text-center">Items</h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        You have <strong>{{ character.abilities.itemSlots }} Slots</strong> used by Items.
      </p>

      <div class="btn-toolbar justify-content-center">
        <a
          class="btn btn-primary"
          routerLink="/character/{{ character.id }}/items/edit"
        >Edit</a>
      </div>
    </div>
  </div>

  <div
    class="card mb-3"
    *ngFor="let item of character.abilities.items; index as i"
  >
    <div class="card-header">
      <h4 class="card-title text-center">{{ item.name }}</h4>
    </div>

    <div class="card-body">
      <p class="card-text">
        {{ item.description }}
      </p>
    </div>

    <div class="card-footer">
      <div class="input-group mx-auto" style="max-width: 10em">
        <div class="input-group-prepend mb-1">
          <span class="input-group-text">Slots </span>
        </div>

        <input
          class="form-control text-center"
          readonly
          [value]="item.slots"
        >
      </div>

      <div
        *ngIf="item.fpUse"
        class="input-group mb-1 mx-auto"
        style="max-width: 12em"
      >
        <div class="input-group-prepend">
          <span class="input-group-text">FP Use: </span>
        </div>
        <input
          class="form-control text-center"
          readonly
          [value]="item.fpUse"
        >
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="useFp(item.fpUse)"
          >Use</button>
        </div>

      </div>

      <table class="mx-auto" *ngIf="item.usesPerDay">
        <tr>
          <th class="pr-2">
            Used Today:
          </th>
          <td>
            <input
              class="form-control text-center"
              style="width: 4em"
              type="number"
              min="0"
              [max]="item.usesPerDay"
              id="usesThisDay{{i}}"
              name="usesThisDay{{i}}"
              [(ngModel)]="item.usedThisDay"
            >
          </td>
          <td class="px-2">
            of
          </td>
          <td>
            <input
              class="form-control text-center"
              style="width: 4em"
              readonly
              [value]="item.usesPerDay"
            >
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
