// Screen width breakpoints
$min_width: 400;
$max_width: 800;

// Font size breakpoints
$min_font: 16;
$max_font: 24;

// Line length breakpoints
$min_length: 18rem;
$max_length: 66em;

// Header Scalers
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
