<div class="container">
  <h2>Character Creation Rules and Deviations</h2>
  <p>
    These are a set of rules and guidelines for character creation for the ST to implement. These are merely
    recommendations
    so if you have a better idea do your idea.
  </p>

  <div>
    <h3>Stat Generation</h3>
    <dl>
      <dt>Standard Array</dt>
      <dd>
        The standard array is [7, 6, 6, 6, 5, 5, 5, 4, 4, 3, 3] and the player merely needs to assign these values in
        any
        combination to the stats.
      </dd>

      <dt>Point-Buy</dt>
      <dd>
        The point buy system essentially assigns a certain amount of starting experience for the players to place as
        they
        please. Set this as you like but make sure it is consistent with how you assign experience.
      </dd>

      <dt>Random</dt>
      <dd>
        In this system, you roll nine 1d6 dice, re-rolling all 1s and 2s to generate a random array. You also include
        one 7 in the array,
        and the player assigns the values as the choose. Usually, STs allow for complete re-rolls if there aren't at
        least three
        sixes in the array. I personally think all the re-rolling is a waste of time and prefer one of the prior
        methods.
      </dd>
    </dl>

    <h3>Number of Abilities</h3>
    <dl>
      <dt>Original System</dt>
      <dd>
        The original system called for the player to pick two stats, one physical and one mental, to call their prime
        stats.
        The player could then have a number of natural abilities equal to their prime physical stat and a number of
        supernatural abilities
        equal to their mental stat. For items they could have two 'Minor' magical items and one 'Major' magical items.
      </dd>

      <dt>Slot System</dt>
      <dd>
        Due to confusion over the prime stats (that served little other purpose) and the desire for more flexible
        design, I propose
        a slot system. The ST can determine how many slots an effect requires to be balanced and the ST can determine
        how many slots each player
        gets. I recommend 18 at starting level (One of the prime stats would have been of value 7 and the other of 6
        allowing for 13
        a total of 13 natural and supernatural abilities. If we value 'Major' items at 3 slots and 'Minor' items at 1
        slots, the total slots
        used is 18). As part of this I recommend an item attunement system like D&D 5e. To use magical items, one must
        attune to the item
        which uses slots.
      </dd>
    </dl>

    <h3>Role of the Stats</h3>
    <p>
      Traditionally the Depths stats had very static roles within the game like most other games. But because of the
      number stats used, not all stats were created equal and in particular one problem must be solved to enjoy Depths...
    </p>
    <p>
      <strong>THE REFLEX PROBLEM:</strong> The biggest problem in the Depths when using pure static definition for stats
      is that the static definition for Reflex includes the skill checks for "to-hit" of all physical attacks (melee and
      ranged) as well as physical defense. None of the other stats make as much sense as Reflex for this purpose but
      it makes the stat far too important. In order for the ST to generate fun enemies for the entire party, the party
      needs to have Reflexe Stats within a very narrow band, otherwise he ends up in a conundrum. If his villains' Reflex is
      low enough that the lowest Reflex character can hit the villain reliably the villain can never hit the highest Reflex
      player, which is no fun.
    </p>
    <p>
      <strong>Solution One: Dynamic Definitions.</strong> One solution is to let the player define how each stat is used
      for their own character. So they would pick a stat for each case:
    </p>
    <ol>
      <li>Melee to hit</li>
      <li>Melee power</li>
      <li>Ranged to hit</li>
      <li>Ranged power</li>
      <li>Magic to hit</li>
      <li>Magic power</li>
    </ol>
    <p>
      And at least 4 different stats should be used in the list of roles. Then abilities are defined in these terms and
      the cost ability goes up if it specifies a specific stat for the defensive roll or deviates from the declared stat
      roles. The problem is that this is rather complex, all things considered.
    </p>

    <p>
      <strong>Solution Two: Off-load Reflex</strong> The other solution is to allow your players to off-load the traditional
      Reflex role into other stats using Abilities. For example they might obtain armour that makes them harder to hit based on
      Speed (Speed replaces Reflex for physical to-hit). This is in many ways the simplest and most elegant solution, just
      make sure you encourage your players to take advantage of such abilities.
    </p>
  </div>

  <div>
    <h3>To Grid or Not To Grid</h3>
    <p>
      Traditionally Depths was not played on a grid, but rather by theater of the mind or with simple white board sketches.
      This is sometimes rather restrictive and if using a tool like Roll20 the Grid will be forced upon you. If you decide to use
      the Grid, then let you players know and always use a grid for combat. Also, Abilities should be written for the type of
      combat used. One special note - the Speed stat determines the number of tiles moved on a grid.
    </p>
  </div>
</div>
