<div class="container">

  <form #statForm="ngForm">
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title text-center">Point-Buy Method</h3>
      </div>
      <div class="card-body text-center">
        <p>Consult with your Story Teller for how many points you are allowed. The standard is 110 points.</p>
        <h5>Points Used: {{ current.character.stats.pointTotal }}</h5>
        <div class="btn-toolbar justify-content-center">
          <button class="btn btn-primary m-1" (click)="save('Point Buy')">Save as Point Buy</button>
          <button class="btn btn-primary m-1" (click)="save('User Randomized')">Save as User Randomized</button>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card">
        <h4 class="card-header text-center">Physical Stats</h4>
        <div class="card-body">
          <table class="statTable text-right mx-auto">
            <tr *ngFor="let stat of current.character.stats.physList">
              <th>{{ stat }}:</th>
              <td>
                <input
                  class="form-control text-center"
                  style="width: 4em"
                  type="number"
                  id="{{ stat }}"
                  name="{{ stat }}"
                  [(ngModel)]="current.character.stats[stat.toLowerCase()]"
                >
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header text-center">Mental Stats</h4>
        <div class="card-body">
          <table class="statTable text-right mx-auto">
            <tr *ngFor="let stat of current.character.stats.mentList">
              <th>{{ stat }}:</th>
              <td>
                <input
                  class="form-control text-center"
                  style="width: 4em"
                  type="number"
                  id="{{ stat }}"
                  name="{{ stat }}"
                  [(ngModel)]="current.character.stats[stat.toLowerCase()]"
                >
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
