<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 d-print-none">
  <a routerLink="/" class="navbar-brand">Depths RPG</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>


  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/compendium" routerLinkActive="active" (click)="isMenuCollapsed = true">Compendium</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/character" routerLinkActive="active" (click)="isMenuCollapsed = true">Character</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLink="/guides" routerLinkActive="active" (click)="isMenuCollapsed = true">Guides</a>
      </li>
      -->
      <li class="nav-item cursor-pointer">
        <app-login-mini></app-login-mini>
      </li>
    </ul>
  </div>
</nav>

<div class="d-none d-print-block">
  <h1>Depths Character Sheet</h1>
</div>
