<form class="text-center w-50 mx-auto" #statsForm="ngForm" (ngSubmit)="saveState()">
  <h2>Stats</h2>
  <div class="form-group form-inline justify-content-between">
    <label for="strength">Strength</label>
    <input
      id="strength"
      name="strength"
      [(ngModel)]="character.stats.strength"
      class="form-control"
      style="width: 3em"
      required
      >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="reflex">Reflex</label>
    <input
      id="reflex"
      name="reflex"
      [(ngModel)]="character.stats.reflex"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="vitality">Vitality</label>
    <input
      id="vitality"
      name="vitality"
      [(ngModel)]="character.stats.vitality"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="speed">Speed</label>
    <input
      id="speed"
      name="speed"
      [(ngModel)]="character.stats.speed"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="awareness">Awareness</label>
    <input
      id="awareness"
      name="awareness"
      [(ngModel)]="character.stats.awareness"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="willpower">Willpower</label>
    <input
      id="willpower"
      name="willpower"
      [(ngModel)]="character.stats.willpower"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="imagination">Imagination</label>
    <input
      id="imagination"
      name="imagination"
      [(ngModel)]="character.stats.imagination"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="attunement">Attunement</label>
    <input
      id="attunement"
      name="attunement"
      [(ngModel)]="character.stats.attunement"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="faith">Faith</label>
    <input
      id="faith"
      name="faith"
      [(ngModel)]="character.stats.faith"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="luck">Luck</label>
    <input
      id="luck"
      name="luck"
      [(ngModel)]="character.stats.luck"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group form-inline justify-content-between">
    <label for="charisma">Charisma</label>
    <input
      id="charisma"
      name="charisma"
      [(ngModel)]="character.stats.charisma"
      class="form-control"
      style="width: 3em"
      required
    >
  </div>

  <div class="form-group">
    <h4><strong>Point Value: </strong> {{character.stats.pointTotal}}</h4>
  </div>

  <div class="form-group text-center">
    <button type="submit" [disabled]="statsForm.form.invalid" class="btn btn-primary">Save</button>
  </div>
</form>
