.summary-box {
  border-color: black;
  border-width: 2px;
}

.lore-box {
  border-color: black;
  border-width: 2px;
}

.stat-box {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 720px;
}
