<h2>{{character.name}}</h2>

<p>ID: {{character.id}}</p>
<div class="summary-box">
  <p>{{character.summary}}</p>
</div>
<div class="lore-box">
  <p>{{character.lore}}</p>
</div>
<div class="point-box">
  <p>Point Buy Value: {{character.pointValue}}</p>
</div>

<div class="stat-box">
  <div class="row">
    <div class="col">
      <p>Strength: {{character.strength}}</p>
      <p>Reflex: {{character.reflex}}</p>
      <p>Vitality: {{character.vitality}}</p>
      <p>Speed: {{character.speed}}</p>
      <p>Awareness: {{character.awareness}}</p>
      <p>Willpower: {{character.willpower}}</p>
    </div>
    <div class="col">
      <p>Attunement: {{character.attunement}}</p>
      <p>Imagination: {{character.imagination}}</p>
      <p>Faith: {{character.faith}}</p>
      <p>Luck: {{character.luck}}</p>
      <p>Charisma: {{character.charisma}}</p>
    </div>
  </div>
</div>

<br>

<div class="ability-box">
  <h5>Abilities</h5>
  <ul>
    <li *ngFor="let ability of abilities">
      <strong>{{ability.name}}:</strong> {{ability.summary}}
    </li>
  </ul>
</div>
