<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/create/background" routerLinkActive="active">Background</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/create/stats" routerLinkActive="active">Stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/create/naturalAbilities" routerLinkActive="active">Natural Abilities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/create/superAbilities" routerLinkActive="active">Supernatural Abilities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/create/items" routerLinkActive="active">Items</a>
  </li>
</ul>


<router-outlet></router-outlet>
