<form class="card">
  <div class="card-header">
    <label for="name">Name of Stat Ability</label>
    <input
      id="name"
      name="name"
      [(ngModel)]="statAbility.name"
      class="form-control"
      type="text"
    >
  </div>

  <div class="card-body">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="statAbility.description"
        class="form-control"
        type="text"
      ></textarea>
    </div>

    <div class="form-group form-inline">
      <label for="usesPerDay" class="mr-3">Uses Per Day</label>
      <input
        id="usesPerDay"
        name="usesPerDay"
        [(ngModel)]="statAbility.usesPerDay"
        class="form-control"
        style="width: 4em"
      >
    </div>
  </div>

  <div class="text-center card-footer">
    <button type="button" (click)="onDelete()" class="btn btn-sm btn-danger">Delete</button>
  </div>
</form>
