<form class="card">
  <div class="card-header">
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      [(ngModel)]="item.name"
      type="text"
      class="form-control"
    >
  </div>

  <div class="card-body">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="item.description"
        class="form-control"
      ></textarea>
    </div>

    <div class="form-group form-inline">
      <label for="slots" class="mr-3">Slots</label>
      <input
        id="slots"
        name="slots"
        [(ngModel)]="item.slots"
        type="number"
        min="1"
        max="3"
        class="form-control"
        style="width: 4em"
      >
    </div>

    <div class="form-group form-inline">
      <label for="usesPerDay" class="mr-3">Uses Per Day</label>
      <input
        id="usesPerDay"
        name="usesPerDay"
        [(ngModel)]="item.usesPerDay"
        type="number"
        class="form-control"
        style="width: 4em"
      >
    </div>
  </div>

  <div class="card-footer text-center">
    <button (click)="onDelete()" class="btn btn-sm btn-danger">Delete</button>
  </div>
</form>
