<div class="container">
  <h3>Character Creation Tips</h3>

  <div>
    <h4>Character Concept</h4>
    <p>
      I recommend coming up with a rough sketch of a concept before you think about anything thing else. Start with what
      currently interests you in literature/movies such as fantasy, sci-fi, super heroes, tragedies, westerns, etc. Then
      consider either back-story or skill set, one should lead to the other.
    </p>

    <p>
      I might do something like this for creating a character concept: Lets say at the moment I recently watched several
      Marvel movies and I am interested in Super Heroes. So most super-heroes have some tragic event that drives them
      and
      some more physical event that gives them super powers.

      <strong>So what drives my super-hero:</strong> he hates bullying. He was a weakling and bullied through school and
      powerless to
      stop the bullying. Note that with this in my background I will now need to act against any form of the strong
      pushing around the weak, unless some character development ends this tendency.

      <stong>How is he powerful now:</stong>
      Now I need a wacky power. Since I was powerless to protect myself and others
      I think I want a strong defensive ability (remember how I suggested background lead to powers) so how about energy
      force fields.
    </p>
  </div>

  <div>
    <h4>Stat Generation</h4>
    <p>
      Now that we have the background lets pick the stats. I did the background because I wanted guidance for the stats.
      I recommend you use the standard array of stats [7, 6, 6, 6, 5, 5, 5, 4, 4, 3, 3] for your first several
      characters,
      creating weaknesses with 2 is generally not recommended until you know the game better. Also it is important to
      note you should have 2-4 stats that you actively raise. Most good STs will put limits on the stat levels to
      prevent
      one stat leveling, and prevent you from off loading all checks onto one stat. On the other-hand leveling too many
      stats usually just makes you weak in general.
    </p>

    <p>
      I also recommend working from the extreme ends of the stat pool to the middle.
      Assign weaknesses and strengths before
      putting in the mediocre.
    </p>

    <dl>
      <dt>Strength</dt>
      <dd>Because my character started life as a weakling, and nothing changed that, I will assign <strong>3</strong> to
        strength.
      </dd>

      <dt>Willpower</dt>
      <dd>
        While there are plenty of options for a source of power, almost all super-heroes are strong willed and mine is
        no exception. Willpower: <strong>7</strong>. Now because this is my power stat I will be raising this stat with
        high priority through out the game.
      </dd>

      <dt>Charisma</dt>
      <dd>
        Now all super-heroes need to be good at the one-liners, even Hulk says "Hulk, Smash!!!!" in a clever way. So I
        will
        give Charisma a <strong>6</strong>. Now this may or may not be my third stat to raise. It will depend on the
        party
        composition and character progression. I do not see this character as the primary leader/talker, unless forced
        to it. But
        if he is forced into the position he should be good at it.
      </dd>

      <dt>Speed</dt>
      <dd>
        Now onto the stats that my backstory didn't really cover, even obliquely, so now I am free to establish whatever
        I want.
        For a very game-y reason I want a high speed. Speed determines initiative and if I can go before the enemies I
        can
        establish shields on allies or block enemies before it is an issue. <strong>Speed:</strong> 6.
      </dd>

      <dt>Attunement</dt>
      <dd>
        Now attunement is an odd stat, and is usually part of Fantasy characters rather than super-heroes. In this case
        I am going to put <strong>3</strong> in attunement for lack of anything lore-ful to put a 3 in. This is called a
        <em>dump stat</em> (which is a stat that will only rarely hurt your character for having a low value)
        and I generally prefer declared weaknesses (like strength was) to dump stats. Weaknesses provide points of interests
        and make some situations more of a puzzle to solve, which is fun. On the other hand, attunement is almost never
        checked outside of the things your own character does, so it is relatively safe to leave it low if you don't intend
        to use it.
      </dd>

      <dt>Reflex</dt>
      <dd>
        Now reflex deals with agility, which means that some STs will use it for almost all physical attacks as both offense and
        defense. This makes sense, but causes some balance issues (I may describe those issues in one the ST guides but is
        beyond the scope of this guide). For this reason I am going to put my last <strong>6</strong> in Reflex, so that
        I can physically defend myself. It isn't a terrible fit for my character either, as being limber is a good way to
        avoid harm if people are trying to beat you up. I recommend checking with your ST to see if they are using a Reflex
        centric system or have some other schema.
      </dd>

      <dt>Vitality and Awareness</dt>
      <dd>
        These are the last stats I will describe as important to this character. Vitality is important because it determines
        the characters health pool. Awareness is important because it is probably the most asked for Skill Check. I will put
        5s in both, since I have the values free.
      </dd>
    </dl>
  </div>

  <div>
    <h4>Powers and Items</h4>
    <p>
      So now I need to kit the character with abilities and this is where your creativity will be tested. There are several schemas
      used to determine this, I will use the simplest, 18 slots + 1 slot for every major stat up.
    </p>

    <dl>
      <dt>Natural Abilities</dt>
      <dd>
        These are simple passive abilities that help define what your character is good at or change the "normal rule".
        They can cost more than one slot so consult with your ST about cost.


        For my super-hero, I am not fond of his lack of offense due to low Strength and Speed. So I will add a natural ability,
        <strong>Charge</strong>, where the power of my physical attack is based on the movement I used to reach the opponent.
        So if I moved 5 tiles to reach my opponent before the physical attack the power of the attack would be five times 1d6,
        instead of Strength times 1d6.
      </dd>

      <dt>Supernatural Abilities</dt>
      <dd>
        Supernatural abilities are abilities that require energy or can only be used a certain number of times a day. They almost always
        cost 1 slot, and are balanced by the amount of energy it requires.


        For my super-hero I want force fields so let us think of what they do. First lets assess what he needed the barrier for.
        Basically he wanted to put walls between himself or other weaklings and the bullies. This means that people can't walk
        through it nor can bullets get through. He had no great desire to hurt the bullies so the wall didn't need to allow
        one direction passing so he could attack. It was convenient to be able to shape and move the barrier, because a static barrier
        solves nothing just delays things. Being able to move the wall would allow him to position himself for escape etc.


        So here are the rules of the barrier.
        <ol>
          <li>The barrier is a perfect solid letting nothing pass.</li>
          <li>It can take any shape.</li>
          <li>It can be moved.</li>
          <li>The energy required is proportional to the size of the barrier.</li>
        </ol>

        So your supernatural abilities will describe the size and health of the barrier and any special cases, that should
        be somewhat cheaper due to their nature (like a personal shield).
      </dd>

      <dt>Items</dt>
      <dd>
        Items can do anything that the naturals or supernaturals could, but are slightly cheaper due to the fact that you can
        lose them or have them broken. The discount depends on how willing an ST is to remove your items from you.



        My super-hero doesn't like depending on tools and thinks of them as super temporary. He won't start with any
        items but will leave slots open to use anything he picks up.
      </dd>
    </dl>


  </div>
</div>
