<div class="d-flex flex-column align-items-center">

  <h3>Opposed Rolls</h3>

  <p class="para-box">
    In the case where the player is challenging an NPC or the NPC has attacked the player, the ST will
    usually have an opposed roll. In this case, both players will roll dice, add appropriate stats and
    compare results. In the case of ties, the tie is resolved on the side of nothing happens (usually the
    attack initiator loses in case of ties). Let us analyze this situation to determine what makes for
    reasonable villain stats.
  </p>

  <div class="chart-box">
    <canvas #opposedChart>{{ chart }}</canvas>
  </div>

  <p class="para-box">
    What we see, given the rates, is that Depths is a defense oriented game. If the initiators stat is
    greater than the defender by 4 or more there is still a 30% fail chance of the action.
    The upshot is no matter what your stats are, 25% of the time the attack automatically succeeds, so
    no attack is hopeless.
  </p>

  <p class="para-box">
    As a player what you need to know is that if you don't want to feel ineffectual you need to be
    able to force a defense roll in many different stats and try to find an enemies weaker stats. In
    order to obtain a 50% hit rate you need your offensive stat to be greater than his defensive
    stat by 1. If you are going to rely on physical attacks, you should know that typically all physical
    hits are based on offense and defense of Reflex. You will probably want to raise Reflex with a
    high priority in order to depend on physical attacks, unless you have worked out some other scheme
    with your ST.
  </p>

  <p class="para-box">
    As a the Story Teller, you need to be aware of the physical attack issue. Traditionally in Depths
    the offense and defense stat for all physical attacks is Reflex, which creates a rather large
    problem for STs. If you want your players to be able to reliably the hit villain you need to
    set the villain's Reflex slightly lower than the parties worst Reflex character, but this makes it difficult
    for your villain to hit the party back. I recommend you use some scheme to move most players
    and villains physical attacks success rolls to values other than Reflex to avoid this predicament.
  </p>
</div>
