<div class="container-fluid">
  <div class="mb-4">
    <h2 class="text-center mb-4">Your Characters</h2>
    <div class="d-flex flex-row justify-content-center align-middle">
      <div class="card m-1" style="width: 18em" *ngFor="let character of characters">
        <div class="card-body">
          <h4 class="text-center card-title">{{ character.name }}</h4>

          <p class="card-text">{{ character.lore.summary }}</p>

          <div class="btn-toolbar justify-content-center">
            <a class="btn btn-sm btn-primary m-1" routerLink="/character/{{ character.id }}">Profile</a>
            <a class="btn btn-sm btn-secondary m-1" routerLink="/character/view/{{ character.id }}">View</a>
            <a class="btn btn-sm btn-danger m-1 text-white" (click)="deleteChar(character.id)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-center mb-4">Viewable Characters</h2>
    <div class="d-flex flex-row justify-content-center align-middle">
      <div class="card" style="width: 18em" *ngFor="let viewable of viewables">
        <div class="card-body">
          <h4 class="text-center card-title">{{ viewable.name }}</h4>

          <p class="card-text">{{ viewable.lore.summary }}</p>

          <div class="btn-toolbar justify-content-center">
            <a class="btn btn-sm btn-secondary" routerLink="/character/view/{{ viewable.id }}">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
