<div class="container-fluid">
  <div class="jumbotron container">
    <h2 class="display-4">User Profile</h2>
    <p class="lead">
      This is the control panel for your profile. While it will have lists of characters, the bells and
      whistles will not be here, just lists.
    </p>
  </div>

  <div *ngIf="yourCharacters.length > 0">
    <h2 class="text-center">Your Characters</h2>
    <ul>
      <li *ngFor="let character of yourCharacters">
        <a routerLink="/character/{{ character.id }}">{{ character.name }}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="viewableCharacters.length > 0">
    <h2 class="text-center">Viewable Characters</h2>
    <ul>
      <li *ngFor="let character of yourCharacters">
        <a routerLink="/character/{{ character.id }}">{{ character.name }}</a>
      </li>
    </ul>
  </div>
</div>
