<div class="container mb-4">
  <h2 class="text-center">{{ current.character.name }}</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/character/{{ current.character.id }}/lore" routerLinkActive="active">Lore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/character/{{ current.character.id }}/stats" routerLinkActive="active">Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/character/{{ current.character.id }}/naturals">Naturals</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
