<div class="container-fluid">
  <div class="jumbotron container">
    <h2>{{ character.name }}</h2>
    <p>Note that this page should be printable in a reasonable fashion.</p>
    <hr>
    <div class="text-center">
      <button (click)="onSave()" class="btn btn-primary">Save</button>
    </div>
  </div>

  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Resources</h3>

        <div class="form-group form-inline">
          <label for="hp" class="mr-2">HP</label>
          <input
            id="hp"
            name="hp"
            [(ngModel)]="character.stats.hpCurrent"
            type="number"
            min="0"
            [max]="character.stats.totalHp"
            class="form-control mr-2"
            style="width: 4em"
          > / {{character.stats.totalHp}}
        </div>

        <div class="form-group form-inline">
          <label for="fp" class="mr-2">FP</label>
          <input
            id="fp"
            name="fp"
            [(ngModel)]="character.stats.fpCurrent"
            type="number"
            min="0"
            [max]="character.stats.totalFP"
            class="form-control mr-2"
            style="width: 4em"
          > / {{character.stats.totalFP}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Stats</h3>
        <app-stat-line statName="Strength" [statValue]="character.stats.strength"></app-stat-line>
        <app-stat-line statName="Reflex" [statValue]="character.stats.reflex"></app-stat-line>
        <app-stat-line statName="Vitality" [statValue]="character.stats.vitality"></app-stat-line>
        <app-stat-line statName="Speed" [statValue]="character.stats.speed"></app-stat-line>
        <app-stat-line statName="Awareness" [statValue]="character.stats.awareness"></app-stat-line>
        <app-stat-line statName="Willpower" [statValue]="character.stats.willpower"></app-stat-line>
        <app-stat-line statName="Attunement" [statValue]="character.stats.attunement"></app-stat-line>
        <app-stat-line statName="Imagination" [statValue]="character.stats.imagination"></app-stat-line>
        <app-stat-line statName="Faith" [statValue]="character.stats.faith"></app-stat-line>
        <app-stat-line statName="Luck" [statValue]="character.stats.luck"></app-stat-line>
        <app-stat-line statName="Charisma" [statValue]="character.stats.charisma"></app-stat-line>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Stat Abilities</h3>
        <app-display-stat-ability *ngFor="let statAbility of character.abilities.statAbilities"
                                  [statAbility]="statAbility"></app-display-stat-ability>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Natural Abilities</h3>
        <app-display-natural-ability *ngFor="let naturalAbility of character.abilities.naturalAbilities"
                                     [naturalAbility]="naturalAbility"></app-display-natural-ability>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Supernatural Abilities</h3>
        <app-display-super-ability
          *ngFor="let superAbility of character.abilities.superAbilities"
          [superAbility]="superAbility"
          (useAbility)="useFpAbility($event)"
        ></app-display-super-ability>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Items</h3>
        <app-display-item
          *ngFor="let item of character.abilities.items"
          [item]="item"
        ></app-display-item>
      </div>
    </div>
  </div>

</div>

