<div class="card-body">
  <h4 class="card-title text-center">{{character.name}}</h4>
  <p class="card-text">{{ character.lore.summary }}</p>
</div>
<div class="card-footer">
  <div class="btn-toolbar justify-content-center">
    <a class="btn btn-sm btn-primary" routerLink="/character/{{character.id}}">Profile</a>
    <a class="btn btn-sm btn-secondary" routerLink="/character/{{character.id}}/view">View</a>
    <a class="btn btn-sm btn-secondary" routerLink="/character/{{character.id}}/share">Share</a>
    <a class="btn btn-sm btn-secondary" routerLink="/character/{{character.id}}/edit">Edit</a>
    <div class="mt-1" ngbDropdown>
      <button
        class="btn btn-sm btn-danger"
        id="deleteToggle"
        ngbDropdownToggle>Delete
      </button>
      <div ngbDropdownMenu aria-labelledby="deleteConfirm" class="m-1 p-1 mx-auto text-center" style="width: 18rem">
        <h5>Are you sure you want to delete this character?</h5>
        <div class="text-center">
          <button (click)="onDelete()" class="btn btn-sm btn-danger">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
