<h2>Character: {{editServ.character.id}}</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/{{editServ.character.id}}/edit/core" routerLinkActive="active">Core</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/{{editServ.character.id}}/edit/stats" routerLinkActive="active">Stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/character/{{editServ.character.id}}/edit/abilities" routerLinkActive="active">
      Abilities
    </a>
  </li>
</ul>

<div class="container">
  <div class="alert alert-warning">
    <p>
      Any attempt to navigate away from this page outside of approved buttons will result in loss of data.
      You have been warned...
    </p>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container text-center">
  <div class="btn-group">
    <button (click)="onSubmit()"
            class="btn btn-lg btn-primary"
    >Finalize Changes</button>
  </div>
  <div ngbDropdown class="btn-group" role="group">
    <button ngbDropdownToggle
            class="btn btn-lg btn-danger">Delete Character</button>
    <div ngbDropdownMenu class="dropdown-menu text-center">
      <h4 style="padding-right: 8px padding-left: 8px">Are you sure?</h4>
      <button class="btn btn-danger" (click)="onDelete()">Confirm</button>
    </div>
  </div>
</div>
