<div>
  <h2 class="text-center">Stat Abilities</h2>
  <div *ngFor="let statAbility of abilities.statAbilities; let i = index">
    <app-stat-abilities
      [statAbility]="statAbility"
      [index]="i"
      (delete)="deleteStatAbility($event)"
    ></app-stat-abilities>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary" (click)="addStatAbility()">Add Ability</button>
  </div>

  <hr>

  <h2 class="text-center">Natural Abilities</h2>
  <div *ngFor="let naturalAbility of abilities.naturalAbilities; let i = index">
    <app-natural-ability
      [naturalAbility]="naturalAbility"
      [index]="i"
      (delete)="deleteNaturalAbility($event)"
    ></app-natural-ability>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary" (click)="addNaturalAbility()">Add Natural Ability</button>
  </div>

  <hr>

  <h2 class="text-center">Supernatural Abilities</h2>
  <div *ngFor="let superAbility of abilities.superAbilities; let i = index">
    <app-super-ability
      [superAbility]="superAbility"
      [index]="i"
      (delete)="deleteSuperAbility($event)"
    ></app-super-ability>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary" (click)="addSuperAbility()">Add Supernatural Ability</button>
  </div>

  <hr>

  <h2 class="text-center">Items</h2>
  <div *ngFor="let item of abilities.items; let i = index">
    <app-items
      [item]="item"
      [index]="i"
      (delete)="deleteItem($event)"
    ></app-items>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary" (click)="addItem()">Add Item</button>
  </div>

  <div class="text-center w-100 mt-4">
    <button class="btn btn-primary" (click)="saveState()">Save</button>
  </div>
</div>
