<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Your Characters</h2>
      <ul>
        <li *ngFor="let character of characters">
          ID: {{character.id}} NAME: {{character.name}}
        </li>
      </ul>
    </div>
    <div class="col-4">
      <h2>New Character</h2>
      <form [formGroup]="newCharForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="characterName">Character Name</label>
          <input type="text"
                 id="characterName"
                 formControlName="charname"
                 class="form-control"
                 [ngClass]="{'is-invalid': f.charname.touched && f.charname.errors}"/>
          <div *ngIf="f.charname.touched && f.charname.errors" class="invalid-feedback">
            <div *ngIf="f.charname.errors.required">Character name is required.</div>
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="f.charname.errors" class="btn btn-primary">Create New</button>
        </div>
      </form>
    </div>
  </div>
</div>
