<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h1>Understanding Dice Probabilities</h1>
    <p class="para-box">
      Probably the most fun part of Depths is the amount of creativity that it allows; there is no in-depth rule book
      nor
      set classes nor spells nor even standard attack mechanics. The problem is that the balance of the game depends on
      the
      ability of the story teller to read a player written mechanic and understand what the consequence will be. Thus
      here
      is my guide to dice and their uses in the Depths.
    </p>

    <h2>Success/Failure Mechanics</h2>
    <p class="para-box">
      The most common mechanic in Depths is the binary outcome roll. For the player this almost always means roll 1d6
      and
      add a stat to it, but the situation may demand different mechanics.
    </p>

    <h3>Critical/Botch Rolls</h3>
    <p class="para-box">
      In the Depths, all Success/Failure rolls are subject to criticals (a roll of 6 on 1d6 dice) or botch (a roll of 1
      on 1d6 dice).
      Criticals are automatic successes and often come with extra rewards, whereas a botch is an automatic failure
      usually
      with extra consequences.
    </p>
  </div>

  <app-difficulty-dice></app-difficulty-dice>

  <app-opposed-dice></app-opposed-dice>

  <h3 class="text-center">Advantaged Rolls</h3>

  <app-adv-dc-dice></app-adv-dc-dice>

  <app-adv-off-dice></app-adv-off-dice>

  <app-adv-def-dice></app-adv-def-dice>

  <app-adv-both-dice></app-adv-both-dice>

</div>


