<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center">{{ ability.name }}</h4>
    <p class="card-text text-justify">{{ ability.description }}</p>
    <p class="card-text text-center" *ngIf="ability.slots > 1">Slots: <strong>{{ ability.slots }}</strong></p>
    <p class="card-text text-center" *ngIf="ability.fpUse > 0">FP Use: <strong>{{ ability.fpUse }}</strong></p>
    <p class="card-text text-center" *ngIf="ability.usesPerDay">Uses per Day:  ____  /  <strong>{{ ability.usesPerDay }}</strong></p>
  </div>
</div>
