<!-- Logic for the login button -->
<div ngbDropdown class="d-inline-block"
     *ngIf="!user">
  <a class="nav-link"
     ngbDropdownToggle>Login</a>
  <div ngbDropdownMenu>
    <form class="px-4 py-3" style="width: 15em" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               formControlName="username"
               class="form-control"
               [ngClass]="{'is-invalid': submitted && f.username.errors}"
               id="username">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               formControlName="password"
               class="form-control"
               [ngClass]="{'is-invalid': submitted && f.password.errors}"
               id="password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required.</div>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit"
                [disabled]="loading"
                class="btn btn-primary">Sign in
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
    <div class="dropdown-divider"></div>
    <button (click)="goRegister()" ngbDropdownItem>New? Register here.</button>
  </div>
</div>

<!-- User button -->
<li class="nav-item" ngbDropdown>
  <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="userButton" role="button">
    {{ user.username }}
  </a>

  <div ngbDropdownMenu aria-labelledby="userButton" class="dropdown-menu">
    <a ngbDropdownItem routerLink="/auth/profile">Profile</a>
    <a ngbDropdownItem style="cursor: pointer" (click)="logout()">Logout</a>
  </div>
</li>
