<div class="container">
  <h2>Login</h2>

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             name="username"
             #form_username="ngModel"
             [(ngModel)]="username"
             required>
      <div [hidden]="form_username.valid || form_username.pristine">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             name="password"
             #form_password=ngModel
             [(ngModel)]="password"
             required>
      <div [hidden]="form_password.valid || form_password.pristine"
           class="alert alert-danger">
        Password is required.
      </div>
    </div>

    <div *ngIf="error" class="alert alert-danger">
      {{error}}
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.form.valid"
      >Login
      </button>
    </div>
  </form>
</div>
