<div class="card mb-2">
  <div class="card-body">
    <h4 class="text-center">{{ ability.name }}</h4>
    <p *ngIf="ability['slots']" class="card-text text-center">
      Slots:  {{ ability['slots'] }}
    </p>
    <p class="card-text text-justify">
      {{ ability.description }}
    </p>
    <p *ngIf="ability['usesPerDay']" class="text-center">
      Uses Per Day:  ____ / {{ ability['usesPerDay'] }}
    </p>
    <p *ngIf="ability['fpUse']" class="text-center">
      FP Use:  {{ ability['fpUse'] }}
    </p>
  </div>
</div>
