<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{statAbility.name}}</h4>
    <p class="card-text">{{statAbility.description}}</p>
    <div *ngIf="statAbility.usesPerDay" class="form-group form-inline">
      <label for="uses" class="mr-2">
        Uses Per Day
      </label>
      <input
        id="uses"
        name="uses"
        [(ngModel)]="statAbility.usedThisDay"
        type="number"
        class="form-control mr-2"
        style="width: 4em"
        min="0"
        [max]="statAbility.usesPerDay"
      > / {{ statAbility.usesPerDay }}
    </div>
  </div>
</div>
