<form class="m-2" (ngSubmit)="saveState()" #loginForm="ngForm">
  <h2 class="text-center">Basic Information</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      #name="ngModel"
      [(ngModel)]="character.name"
      required>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required.</div>
  </div>

  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea
      class="form-control"
      id="summary"
      name="summary"
      [(ngModel)]="character.lore.summary"></textarea>
  </div>

  <div class="form-group">
    <label for="description">Description of Character (Use <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a>)</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="10"
      [(ngModel)]="character.lore.description"></textarea>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-primary"
      [disabled]="!loginForm.form.valid"
      type="submit">Save
    </button>
  </div>
</form>
