<div class="container-fluid">
  <div class="jumbotron container">
    <h2 class="display-4">Depths Role-Playing Game</h2>
    <hr>
    <p class="text-justify">
      The Depths Role-Playing Game is a homebrew pen and paper system from the minds of Mary Washington undergraduates
      and University of Virginia graduate students, that was designed to allow for quick and creative character building
      as well as fast and easy game play. The original goal was that for a game night, a player could show up with pen, paper and a six-sided
      dice or two and be able to play a one-shot session that night, without any preparation on the part of the players.
      While the suggested rules and this character designer are meant for people who want more out of the system,
      the core "rules" will always follow these guidelines.
    </p>
  </div>

  <div class="container">
    <div class="info-box">
      <h3 class="text-center">The Prime Rules of the Depths</h3>
      <ol>
        <li>First and foremost all players should be enjoying the experience, it is a game after all...</li>
        <li>
          The Story Teller(ST) officially makes all of the rules of the game, no argument should happen at the table
          over rules and the only time the ST is wrong is if he/she is breaking rule 1. The "rules" presented here are
          only guidelines and play-tested mechanics that we, the experienced Depths players, believe work well or are
          worth trying out.
        </li>
        <li>
          Finally, all core mechanics are built on 1d6 dice rolling (or no dice rolling) so that people can play with
          the most common dice. Other dice are not prohibited, but none of the core guidelines here will present other
          dice. If the ST wishes to use game mechanics that utilize dice other than a 1d6 it is recommended that he/she
          bring enough specialty dice to share.
        </li>
      </ol>
    </div>

    <div class="info-box">
      <h3 class="text-center">The Lore of the Depths</h3>
      <p>
        Unlike D&D or Pathfinder, there isn't a strict setting or lore attached to the Depths. The system is meant
        to work with whatever setting that the ST wishes. That said, there are certain motifs that are used in the
        typical game in order to explain the crazy things that happen in a game with so few rules.
      </p>
      <ol>
        <li>
          Depth's is typically played in a multiverse crossroad called the "Depths". This crossroad brings in all
          entities that surpass a certain boundary so that they can test their skills against others of their skill level. (This is to help
          explain why you might have superheros, steampunk characters and fantasy characters all in the same setting.)
        </li>
        <li>
          Usually, there is a chaotic and sadistic gatekeeper to the Depths called Trin who guises himself as a
          jester and greets everyone to the Depths as they enter. (This is more tradition than anything else, but the
          characters will need to be introduced to the Depths in some fashion.)
        </li>
        <li>
          Usually, there are characters in the Depths of such skill and ability that the players will never
          realistically be a match. These characters form the ruling body of the Depths. (Depths is a system of high
          risk and reward due to the high chance of critical rolls and botched rolls, as such there is a culture of
          keeping the players a bit scared of the environment and the loss of character. Unlike D&D where the players
          will eventually be just about as powerful as the system allows, Depths characters should, at most, be on the
          powerful end of average to keep up the tension.)
        </li>
        <li>
          There usually exists some magical transport system to allow the characters to be where they need to be, when
          they need to be there. This system can be magic doors, elevators, trains or whatever but it never really
          serves as an aid to the players but rather aids the rulers of the Depths. (Magical transport is meant to allow
          for replacement characters to arrive without much issue, as it isn't fun having a player who has lost their
          character wait for an "opportune" time in the story to introduce a new one.)
        </li>
      </ol>
    </div>

    <div class="info-box">
      <h3 class="text-center">Is this the system for your Group?</h3>
      <p>
        As with most role-playing systems, the Depths doesn't fit every group or setting. In this section I will endeavor
        to explain the situation that best fits Depths so that you use it correctly and can maximize fun with your role-playing.
      </p>
      <ol>
        <li>
          First, Depths is a system that relies entirely on the Story Teller to make the game and the rules. This can be
          great if you can trust that your ST is really trying to provide a fun experience for all. Having the ST be the
          final say in all matters means that any mechanic becomes possible and there shouldn't be any ruffling through
          books trying to prove the ST wrong (he/she is, by definition, right). If your group don't yet trust each other
          (such as a group recently formed for the purpose of role-playing), then the policy on STing may just
          cause hard feelings.
        </li>
        <li>
          Second, Depths has a very permissive character creation, and while the ST can add rules to try and control
          the players, you almost always end up with a crazy mixture of characters. This is a great for those
          sick of never quite getting their character to fit their imagination in systems with a great deal of rules.
          There is a consequence though, almost all of our games have a dream like quality, where there may be a plot and/or
          setting but really everything is just clumped together in one grand narrative that doesn't
          quite make sense. While it is always worth having this crazy experience, if you want a game that is
          more themed and real, perhaps try Genesys for that campaign and Depths for when you want to feel like anything
          can happen.
        </li>
        <li>
          Finally, Depths usually brings in characters that start out quite strong but never so strong they have nothing
          to fear. This is fantastic as you can bring in an old man and he doesn't feel out of place being a starter character.
          (Imagine the level 1 D&D wizard who can cast one spell a day and trying to explain why a 60 year old was so negligent as
          to still be that scrub.) The consequence of this freedom, is that character growth isn't built into the system well.
          Yes, your character will get stronger and pick up new skills, but it isn't as drastic as D&D, so most character
          development is from good role-play, which may not occur if you don't seek it out. This potential lack of character
          development isn't a problem in short campaigns or one-shots but in long campaigns players will occasionally
          just want a new character because their's has stagnated.
        </li>
      </ol>
    </div>
  </div>
</div>

