<div class="container">
  <h2 class="text-center mb-4">{{character.name}}</h2>
  <div class="row align-items-center mb-4">
    <div class="col-md-6">
      <h4 class="text-center">Summary</h4>
      <p class="text-center">
        {{ character.lore.summary }}
      </p>
    </div>

    <div class="col-md-6">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">Stat</th>
          <th scope="col">Value</th>
          <th scope="col">Temp</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stat of character.stats.statList">
          <th scope="row">{{ stat }}</th>
          <td>{{ character.stats[stat.toLowerCase()] }}</td>
          <td>____</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <h4 class="text-center">Description</h4>
    <p class="text-justify">
      {{ character.lore.description }}
    </p>
  </div>

  <div class="row">
    <div class="col">

    </div>
  </div>

</div>
