<div class="container">
  <h1 class="text-center">{{ character.name }}</h1>

  <div class="my-5 d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex flex-column align-items-center mr-3">
      <img class="m-3" src="https://via.placeholder.com/600x350.png">
      <p class="para-box">{{ character.lore.summary }}</p>
    </div>

    <table class="stat-box bdr-box align-items-center">
      <tr *ngFor="let stat of character.stats.statList">
        <th>{{ stat }}:</th>
        <td>{{ character.stats[stat.toLowerCase()] }}</td>
      </tr>
    </table>
  </div>

  <div class="my-5 d-flex flex-row justify-content-around align-items-center">
    <table class="hp-tracker bdr-box">
      <tr>
        <th>HP</th>
        <td>____</td>
        <td>/</td>
        <td>{{ character.stats.totalHp }}</td>
      </tr>
      <tr>
        <th>FP</th>
        <td>____</td>
        <td>/</td>
        <td>{{ character.stats.totalFP }}</td>
      </tr>
    </table>

    <div class="bdr-box p-2 text-center">
      <h4 class="mb-5">XP Tracker</h4>
      <p>
        XP used <strong>{{ character.stats.xpCurrent }} / {{ character.stats.xpTotal }}</strong> <br>
        XP gained (not uploaded): _______
      </p>
    </div>
  </div>


  <p class="my-5 para-box">{{ character.lore.description }}</p>

  <div class="w-100">
    <h3 class="text-center">Stat Abilities</h3>
    <div class="card-columns">
      <div *ngFor="let ability of character.abilities.statAbilities" class="card">
        <h4 class="text-center card-title">{{ ability.name }}</h4>
        <p class="card-text">{{ ability.description }}</p>
        <p *ngIf="ability.slots != 0" class="card-title">Slots: <strong>{{ ability.slots }}</strong></p>
      </div>
    </div>
  </div>
</div>
