<div class="container">
  <h3 class="text-center">
    New Player Guide
  </h3>

  <h4>Important Definitions</h4>
  <dl>
    <dt>Story Teller</dt>
    <dd>
      This is the game master or rules maker for the game and is usually responsible for the core plot as well running
      all the villains.
    </dd>

    <dt>Initiative Order</dt>
    <dd>
      This is the order of player/npc interactions during a time sensitive encounter.
    </dd>

    <dt>Dice Notation</dt>
    <dd>
      Most dice rolls in the Depths are defined with the syntax "#d#" where the first number is the number of dice and
      the number after the "d" is the number of sides on the dice. The most common dice, a six-sided dice" would be referred to
      as a "d6". If you wanted to roll one, six-sided dice, you would say "1d6".
    </dd>

    <dt>Skill Check</dt>
    <dd>
      A skill check is usually used to determine a binary success or fail condition on any action you take and is usually a stat plus 1d6 roll.
      For example you may attempt to jump across a stream, to determine if you make the other bank or get soaked the story teller
      may ask you to make a Strength check of difficulty 8. If your Strength is 5 and you roll a 2 or less on the dice you get soaked
      otherwise you make the leap.
    </dd>

    <dt>Botch</dt>
    <dd>
      A botch occurs when you attempt a skill check and roll the lowest possible value on the dice. Usually this is an
      automatic failure and comes with additional consequences beyond failing the action.
    </dd>

    <dt>Critical</dt>
    <dd>
      A critical roll occurs when you attempt a skill check and the highest possible value is achieved. Usually this is
      an automatic success and comes with additional perks beyond just succeeding the action.
    </dd>

    <dt>Power Check</dt>
    <dd>
      A power check is used to determine the result of an action that is more of a gradient of effect than a binary result.
      The most common power check would be a stat times 1d6. Power checks do not consider critical or botch, normally.
    </dd>
  </dl>

  <h4>Modes of the Game</h4>

  <h5>Relaxed Play</h5>
  <p>
    Most of the game is played when the party isn't under time pressure, which means that decisions can be discussed.
    Also because time is not strictly regulated, it is common to not have an order of actions thus it is up to the
    Story Teller to make sure all of the party is doing something.
  </p>

  <h5>Time Sensitive Play</h5>
  <p>
    On the other side of the coin is the time-sensitive part of the game, which has the most "rules and regulations"
    involved. This can be combat or a sensitive discussions or many other situations that are time pressured.

    While it is up to the Story Teller to decide how to control who is doing what, it is almost always based on an
    initiative order, established based on the Speed stat.

    While playing a time-sensitive section you are responsible for your own actions, and should not discuss what should
    be done/said. It is also courteous to plan your actions while others are taking their actions, so that you just need
    to explain what you did and resolve the consequences.
  </p>

  <h4>Types of Actions</h4>

  <h5>Trivial Actions</h5>
  <p>
    These are actions that that don't have a chance of failing, thus don't have a skill check involved. In a time
    sensitive situation, these actions still take time, as determined by the story teller.
  </p>

  <h5>Skilled Actions</h5>
  <p>
    Actions that have binary success or fail outcome will have a skill check involved, which is almost always a Stat + 1d6.
    This is compared against a static Difficulty value to determine success or failure. Some actions may have different
    levels of success (particularly true with perception checks to find loot).
  </p>

  <h5>Opposed Skill Actions</h5>
  <p>
    When you attempt an action that someone can directly counter, you then have an opposed skill action. Both of you roll
    appropriate skills (these are not always the same stats) and compare the results. In the case of a tie no change in
    the situation occurs.
  </p>

  <h5>Power Actions</h5>
  <p>
    When the result of an action isn't binary, rather being some form of gradient, a power roll is often used. The most
    common power roll is a Stat times 1d6 roll. For example, if you try to push a heavy piece of furniture around you may
    be asked to make a Strength power roll to determine how far you move the furniture.
  </p>

  <h5>Complex Actions</h5>
  <p>
    While most actions taken without time pressure will be one of the simple actions described above, combat often uses
    complex actions that combine Opposed Skill Check and Power Check. For example if you attempt to hit someone with
    a sword, you check your reflex against their reflex to determine if the sword attack connects. If the attack connects
    you then use a Power Check to determine the damage done.
  </p>
</div>
