<div class="modal-header">
  <h4 class="modal-title">Point Buy Stat Creation</h4>
  <button type="button" class="btn btn-sm btn-secondary" (click)="onDismiss()">&times;</button>
</div>
<div class="modal-body">
  <h5>Points Remaining: {{pointBuyValue}}</h5>
  <br>
  <app-stat-buttons stat="Strength" (value)="onStatChange('strength', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Reflex" (value)="onStatChange('reflex', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Vitality" (value)="onStatChange('vitality', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Speed" (value)="onStatChange('speed', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Awareness" (value)="onStatChange('awareness', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Willpower" (value)="onStatChange('willpower', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Attunement" (value)="onStatChange('attunement', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Imagination" (value)="onStatChange('imagination', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Faith" (value)="onStatChange('faith', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Luck" (value)="onStatChange('luck', $event)"></app-stat-buttons>
  <app-stat-buttons stat="Charisma" (value)="onStatChange('charisma', $event)"></app-stat-buttons>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="pointBuyValue !== 0">Submit</button>
</div>
